<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mallease.product.dal.mapper.SkuDao">

    <resultMap id="BaseResultMap" type="com.mallease.product.dal.entity.Sku">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="spu_id" property="spuId" jdbcType="BIGINT"/>
        <result column="sku_code" property="skuCode" jdbcType="VARCHAR"/>
        <result column="attr_values" property="attrValues" jdbcType="VARCHAR"/>
        <result column="pic" property="pic" jdbcType="VARCHAR"/>
        <result column="base_price" property="basePrice" jdbcType="DECIMAL"/>
        <result column="compare_at_price" property="compareAtPrice" jdbcType="DECIMAL"/>
        <result column="deleted" property="deleted" jdbcType="TINYINT"/>
        <result column="enable_status" property="enableStatus" jdbcType="TINYINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
        <result column="updater" property="updater" jdbcType="VARCHAR"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, spu_id, sku_code, attr_values, pic, base_price, compare_at_price,
        deleted, enable_status, create_time, update_time, creator, updater, version
    </sql>

    <!-- 根据主键查询 -->
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM product_sku
        WHERE id = #{id,jdbcType=BIGINT} AND deleted = 0
    </select>

    <!-- 根据ID列表批量查询 -->
    <select id="selectByIds" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM product_sku
        WHERE deleted = 0 AND id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id,jdbcType=BIGINT}
        </foreach>
    </select>

    <!-- 根据SKU编码查询 -->
    <select id="selectBySkuCode" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM product_sku
        WHERE sku_code = #{skuCode,jdbcType=VARCHAR} AND deleted = 0
    </select>

    <!-- 根据SPU ID查询 -->
    <select id="selectBySpuId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM product_sku
        WHERE spu_id = #{spuId,jdbcType=BIGINT} AND deleted = 0
        ORDER BY id
    </select>

    <!-- 根据SPU ID列表批量查询 -->
    <select id="selectBySpuIds" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM product_sku
        WHERE deleted = 0
        <if test="spuIds != null and spuIds.size() > 0">
            AND spu_id IN
            <foreach collection="spuIds" item="spuId" open="(" separator="," close=")">
                #{spuId,jdbcType=BIGINT}
            </foreach>
        </if>
        <if test="spuIds == null or spuIds.size() == 0">
            AND 1 = 0
        </if>
        ORDER BY spu_id, id
    </select>

    <!-- 多条件查询 -->
    <select id="selectByConditions" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM product_sku
        <where>
            AND deleted = 0
            <if test="spuId != null">
                AND spu_id = #{spuId,jdbcType=BIGINT}
            </if>
            <if test="enableStatus != null">
                AND enable_status = #{enableStatus,jdbcType=TINYINT}
            </if>
        </where>
        ORDER BY id
    </select>

    <!-- 查询所有 -->
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM product_sku
        WHERE deleted = 0
        ORDER BY spu_id, id
    </select>

    <!-- 插入 -->
    <insert id="insert" parameterType="com.mallease.product.dal.entity.Sku" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO product_sku (
            spu_id, sku_code, attr_values, pic, base_price, compare_at_price,
            deleted, enable_status, creator, updater, version
        ) VALUES (
            #{spuId,jdbcType=BIGINT}, #{skuCode,jdbcType=VARCHAR}, #{attrValues,jdbcType=VARCHAR},
            #{pic,jdbcType=VARCHAR}, #{basePrice,jdbcType=DECIMAL}, #{compareAtPrice,jdbcType=DECIMAL},
            0, #{enableStatus,jdbcType=TINYINT}, #{creator,jdbcType=VARCHAR}, #{updater,jdbcType=VARCHAR}, 0
        )
    </insert>

    <!-- 选择性插入 -->
    <insert id="insertSelective" parameterType="com.mallease.product.dal.entity.Sku" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO product_sku
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="spuId != null">spu_id,</if>
            <if test="skuCode != null">sku_code,</if>
            <if test="attrValues != null">attr_values,</if>
            <if test="pic != null">pic,</if>
            <if test="basePrice != null">base_price,</if>
            <if test="compareAtPrice != null">compare_at_price,</if>
            <if test="enableStatus != null">enable_status,</if>
            <if test="creator != null">creator,</if>
            deleted, version,
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="spuId != null">#{spuId,jdbcType=BIGINT},</if>
            <if test="skuCode != null">#{skuCode,jdbcType=VARCHAR},</if>
            <if test="attrValues != null">#{attrValues,jdbcType=VARCHAR},</if>
            <if test="pic != null">#{pic,jdbcType=VARCHAR},</if>
            <if test="basePrice != null">#{basePrice,jdbcType=DECIMAL},</if>
            <if test="compareAtPrice != null">#{compareAtPrice,jdbcType=DECIMAL},</if>
            <if test="enableStatus != null">#{enableStatus,jdbcType=TINYINT},</if>
            <if test="creator != null">#{creator,jdbcType=VARCHAR},</if>
            0, 0,
        </trim>
    </insert>

    <!-- 批量插入 -->
    <insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO product_sku (
            spu_id, sku_code, attr_values, pic, base_price, compare_at_price,
            deleted, enable_status, creator, version
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
                #{item.spuId,jdbcType=BIGINT}, #{item.skuCode,jdbcType=VARCHAR},
                #{item.attrValues,jdbcType=VARCHAR}, #{item.pic,jdbcType=VARCHAR},
                #{item.basePrice,jdbcType=DECIMAL}, #{item.compareAtPrice,jdbcType=DECIMAL},
                0, #{item.enableStatus,jdbcType=TINYINT}, #{item.creator,jdbcType=VARCHAR}, 0
            )
        </foreach>
    </insert>

    <!-- 根据主键更新 -->
    <update id="updateByPrimaryKey" parameterType="com.mallease.product.dal.entity.Sku">
        UPDATE product_sku
        SET spu_id = #{spuId,jdbcType=BIGINT},
            sku_code = #{skuCode,jdbcType=VARCHAR},
            attr_values = #{attrValues,jdbcType=VARCHAR},
            pic = #{pic,jdbcType=VARCHAR},
            base_price = #{basePrice,jdbcType=DECIMAL},
            compare_at_price = #{compareAtPrice,jdbcType=DECIMAL},
            enable_status = #{enableStatus,jdbcType=TINYINT},
            updater = #{updater,jdbcType=VARCHAR},
            version = version + 1
        WHERE id = #{id,jdbcType=BIGINT} AND deleted = 0
    </update>

    <!-- 根据主键选择性更新 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.mallease.product.dal.entity.Sku">
        UPDATE product_sku
        <set>
            <if test="spuId != null">spu_id = #{spuId,jdbcType=BIGINT},</if>
            <if test="skuCode != null">sku_code = #{skuCode,jdbcType=VARCHAR},</if>
            <if test="attrValues != null">attr_values = #{attrValues,jdbcType=VARCHAR},</if>
            <if test="pic != null">pic = #{pic,jdbcType=VARCHAR},</if>
            <if test="basePrice != null">base_price = #{basePrice,jdbcType=DECIMAL},</if>
            <if test="compareAtPrice != null">compare_at_price = #{compareAtPrice,jdbcType=DECIMAL},</if>
            <if test="enableStatus != null">enable_status = #{enableStatus,jdbcType=TINYINT},</if>
            <if test="updater != null">updater = #{updater,jdbcType=VARCHAR},</if>
            version = version + 1,
        </set>
        WHERE id = #{id,jdbcType=BIGINT} AND deleted = 0
    </update>

    <!-- 批量更新启用状态 -->
    <update id="updateEnableStatusBatch">
        UPDATE product_sku
        SET enable_status = #{enableStatus,jdbcType=TINYINT}, version = version + 1
        WHERE deleted = 0 AND id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id,jdbcType=BIGINT}
        </foreach>
    </update>

    <!-- 批量逻辑删除 -->
    <update id="deleteBatch">
        UPDATE product_sku
        SET deleted = 1, version = version + 1
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id,jdbcType=BIGINT}
        </foreach>
    </update>

    <!-- 根据SPU ID逻辑删除 -->
    <update id="deleteBySpuId">
        UPDATE product_sku
        SET deleted = 1, version = version + 1
        WHERE spu_id = #{spuId,jdbcType=BIGINT}
    </update>

    <!-- 根据查询对象查询 -->
    <select id="selectByQuery" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM product_sku
        <where>
            AND deleted = 0
            <if test="query.spuId != null">
                AND spu_id = #{query.spuId,jdbcType=BIGINT}
            </if>
            <if test="query.skuCode != null and query.skuCode != ''">
                AND sku_code = #{query.skuCode,jdbcType=VARCHAR}
            </if>
            <if test="query.enableStatus != null">
                AND enable_status = #{query.enableStatus,jdbcType=TINYINT}
            </if>
            <if test="query.basePriceStart != null">
                AND base_price &gt;= #{query.basePriceStart,jdbcType=DECIMAL}
            </if>
            <if test="query.basePriceEnd != null">
                AND base_price &lt;= #{query.basePriceEnd,jdbcType=DECIMAL}
            </if>
            <if test="query.specKeyword != null and query.specKeyword != ''">
                AND attr_values LIKE CONCAT('%', #{query.specKeyword,jdbcType=VARCHAR}, '%')
            </if>
        </where>
        ORDER BY id DESC
    </select>

</mapper>
