<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mallease.pms.dao.PmsCategorySpecGroupDao">

    <resultMap id="BaseResultMap" type="com.mallease.pms.pojo.PmsCategorySpecGroup">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="category_id" property="categoryId" jdbcType="BIGINT"/>
        <result column="spec_group_id" property="specGroupId" jdbcType="BIGINT"/>
        <result column="sort" property="sort" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, category_id, spec_group_id, sort, create_time
    </sql>


    <!-- 根据分类ID查询 -->
    <select id="selectByCategoryId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM pms_category_spec_group
        WHERE category_id = #{categoryId,jdbcType=BIGINT}
        ORDER BY sort, id
    </select>


    <!-- 根据规格组ID查询 -->
    <select id="selectBySpecGroupId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM pms_category_spec_group
        WHERE spec_group_id = #{specGroupId,jdbcType=BIGINT}
    </select>

    <!-- 检查关联是否存在 -->
    <select id="selectByCategoryIdAndSpecGroupId" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM pms_category_spec_group
        WHERE category_id = #{categoryId,jdbcType=BIGINT}
          AND spec_group_id = #{specGroupId,jdbcType=BIGINT}
    </select>

    <!-- 插入 -->
    <insert id="insert" parameterType="com.mallease.pms.pojo.PmsCategorySpecGroup" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO pms_category_spec_group (
            category_id, spec_group_id, sort
        ) VALUES (
            #{categoryId,jdbcType=BIGINT}, #{specGroupId,jdbcType=BIGINT}, #{sort,jdbcType=INTEGER}
        )
    </insert>

    <!-- 批量插入 -->
    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO pms_category_spec_group (
            category_id, spec_group_id, sort
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
                #{item.categoryId,jdbcType=BIGINT}, #{item.specGroupId,jdbcType=BIGINT},
                #{item.sort,jdbcType=INTEGER}
            )
        </foreach>
    </insert>

    <!-- 根据主键删除 -->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE FROM pms_category_spec_group
        WHERE id = #{id,jdbcType=BIGINT}
    </delete>


    <!-- 根据规格组ID删除 -->
    <delete id="deleteBySpecGroupId" parameterType="java.lang.Long">
        DELETE FROM pms_category_spec_group
        WHERE spec_group_id = #{specGroupId,jdbcType=BIGINT}
    </delete>

    <!-- 根据规格组ID列表批量删除 -->
    <delete id="deleteBySpecGroupIds">
        DELETE FROM pms_category_spec_group
        WHERE spec_group_id IN
        <foreach collection="specGroupIds" item="specGroupId" open="(" separator="," close=")">
            #{specGroupId,jdbcType=BIGINT}
        </foreach>
    </delete>

    <!-- 根据分类ID和规格组ID列表批量删除 -->
    <delete id="deleteByCategoryIdAndSpecGroupIds">
        DELETE FROM pms_category_spec_group
        WHERE category_id = #{categoryId,jdbcType=BIGINT}
          AND spec_group_id IN
        <foreach collection="specGroupIds" item="specGroupId" open="(" separator="," close=")">
            #{specGroupId,jdbcType=BIGINT}
        </foreach>
    </delete>

</mapper>