<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mallease.pms.dao.PmsSpuDao">

    <resultMap id="BaseResultMap" type="com.mallease.pms.pojo.PmsSpu">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="spu_code" property="spuCode" jdbcType="VARCHAR"/>
        <result column="brand_id" property="brandId" jdbcType="BIGINT"/>
        <result column="product_category_id" property="productCategoryId" jdbcType="BIGINT"/>
        <result column="freight_template_id" property="freightTemplateId" jdbcType="BIGINT"/>
        <result column="category_ids" property="categoryIds" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="sub_title" property="subTitle" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="keywords" property="keywords" jdbcType="VARCHAR"/>
        <result column="note" property="note" jdbcType="VARCHAR"/>
        <result column="pic" property="pic" jdbcType="VARCHAR"/>
        <result column="album_pics" property="albumPics" jdbcType="VARCHAR"/>
        <result column="unit" property="unit" jdbcType="VARCHAR"/>
        <result column="weight" property="weight" jdbcType="DECIMAL"/>
        <result column="deleted" property="deleted" jdbcType="TINYINT"/>
        <result column="publish_status" property="publishStatus" jdbcType="TINYINT"/>
        <result column="new_status" property="newStatus" jdbcType="TINYINT"/>
        <result column="recommend_status" property="recommendStatus" jdbcType="TINYINT"/>
        <result column="verify_status" property="verifyStatus" jdbcType="TINYINT"/>
        <result column="sort" property="sort" jdbcType="INTEGER"/>
        <result column="sale" property="sale" jdbcType="INTEGER"/>
        <result column="min_price" property="minPrice" jdbcType="DECIMAL"/>
        <result column="max_price" property="maxPrice" jdbcType="DECIMAL"/>
        <result column="stock" property="stock" jdbcType="INTEGER"/>
        <result column="brand_name" property="brandName" jdbcType="VARCHAR"/>
        <result column="product_category_name" property="productCategoryName" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
        <result column="updater" property="updater" jdbcType="VARCHAR"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, spu_code, brand_id, product_category_id, freight_template_id, category_ids,
        name, sub_title, description, keywords, note, pic, album_pics, unit, weight,
        deleted, publish_status, new_status, recommend_status, verify_status, sort,
        sale, min_price, max_price, stock, brand_name, product_category_name,
        create_time, update_time, creator, updater, version
    </sql>

    <!-- 根据主键查询 -->
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM pms_spu
        WHERE id = #{id,jdbcType=BIGINT} AND deleted = 0
    </select>

    <!-- 根据ID列表批量查询 -->
    <select id="selectByIds" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM pms_spu
        WHERE deleted = 0 AND id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id,jdbcType=BIGINT}
        </foreach>
    </select>

    <!-- 根据SPU编码查询 -->
    <select id="selectBySpuCode" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM pms_spu
        WHERE spu_code = #{spuCode,jdbcType=VARCHAR} AND deleted = 0
    </select>

    <!-- 根据品牌ID查询 -->
    <select id="selectByBrandId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM pms_spu
        WHERE brand_id = #{brandId,jdbcType=BIGINT} AND deleted = 0
        ORDER BY sort, id DESC
    </select>

    <!-- 根据分类ID查询 -->
    <select id="selectByCategoryId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM pms_spu
        WHERE product_category_id = #{categoryId,jdbcType=BIGINT} AND deleted = 0
        ORDER BY sort, id DESC
    </select>

    <!-- 多条件查询 -->
    <select id="selectByConditions" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM pms_spu
        <where>
            AND deleted = 0
            <if test="keyword != null and keyword != ''">
                AND name LIKE CONCAT('%', #{keyword,jdbcType=VARCHAR}, '%')
            </if>
            <if test="brandId != null">
                AND brand_id = #{brandId,jdbcType=BIGINT}
            </if>
            <if test="categoryId != null">
                AND product_category_id = #{categoryId,jdbcType=BIGINT}
            </if>
            <if test="publishStatus != null">
                AND publish_status = #{publishStatus,jdbcType=TINYINT}
            </if>
            <if test="verifyStatus != null">
                AND verify_status = #{verifyStatus,jdbcType=TINYINT}
            </if>
            <if test="newStatus != null">
                AND new_status = #{newStatus,jdbcType=TINYINT}
            </if>
            <if test="recommendStatus != null">
                AND recommend_status = #{recommendStatus,jdbcType=TINYINT}
            </if>
        </where>
        ORDER BY sort, id DESC
    </select>

    <!-- 查询所有 -->
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM pms_spu
        WHERE deleted = 0
        ORDER BY sort, id DESC
    </select>

    <!-- 插入 -->
    <insert id="insert" parameterType="com.mallease.pms.pojo.PmsSpu" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO pms_spu (
            spu_code, brand_id, product_category_id, freight_template_id, category_ids,
            name, sub_title, description, keywords, note, pic, album_pics, unit, weight,
            deleted, publish_status, new_status, recommend_status, verify_status, sort,
            sale, min_price, max_price, stock, brand_name, product_category_name,
            creator, updater, version
        ) VALUES (
            #{spuCode,jdbcType=VARCHAR}, #{brandId,jdbcType=BIGINT}, #{productCategoryId,jdbcType=BIGINT},
            #{freightTemplateId,jdbcType=BIGINT}, #{categoryIds,jdbcType=VARCHAR},
            #{name,jdbcType=VARCHAR}, #{subTitle,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR},
            #{keywords,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}, #{pic,jdbcType=VARCHAR},
            #{albumPics,jdbcType=VARCHAR}, #{unit,jdbcType=VARCHAR}, #{weight,jdbcType=DECIMAL},
            #{deleted,jdbcType=TINYINT}, #{publishStatus,jdbcType=TINYINT}, #{newStatus,jdbcType=TINYINT},
            #{recommendStatus,jdbcType=TINYINT}, #{verifyStatus,jdbcType=TINYINT}, #{sort,jdbcType=INTEGER},
            #{sale,jdbcType=INTEGER}, #{minPrice,jdbcType=DECIMAL}, #{maxPrice,jdbcType=DECIMAL},
            #{stock,jdbcType=INTEGER}, #{brandName,jdbcType=VARCHAR}, #{productCategoryName,jdbcType=VARCHAR},
            #{creator,jdbcType=VARCHAR}, #{updater,jdbcType=VARCHAR}, 0
        )
    </insert>

    <!-- 选择性插入 -->
    <insert id="insertSelective" parameterType="com.mallease.pms.pojo.PmsSpu" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO pms_spu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="spuCode != null">spu_code,</if>
            <if test="brandId != null">brand_id,</if>
            <if test="productCategoryId != null">product_category_id,</if>
            <if test="freightTemplateId != null">freight_template_id,</if>
            <if test="categoryIds != null">category_ids,</if>
            <if test="name != null">name,</if>
            <if test="subTitle != null">sub_title,</if>
            <if test="description != null">description,</if>
            <if test="keywords != null">keywords,</if>
            <if test="note != null">note,</if>
            <if test="pic != null">pic,</if>
            <if test="albumPics != null">album_pics,</if>
            <if test="unit != null">unit,</if>
            <if test="weight != null">weight,</if>
            <if test="publishStatus != null">publish_status,</if>
            <if test="newStatus != null">new_status,</if>
            <if test="recommendStatus != null">recommend_status,</if>
            <if test="verifyStatus != null">verify_status,</if>
            <if test="sort != null">sort,</if>
            <if test="sale != null">sale,</if>
            <if test="minPrice != null">min_price,</if>
            <if test="maxPrice != null">max_price,</if>
            <if test="stock != null">stock,</if>
            <if test="brandName != null">brand_name,</if>
            <if test="productCategoryName != null">product_category_name,</if>
            <if test="creator != null">creator,</if>
            deleted, version,
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="spuCode != null">#{spuCode,jdbcType=VARCHAR},</if>
            <if test="brandId != null">#{brandId,jdbcType=BIGINT},</if>
            <if test="productCategoryId != null">#{productCategoryId,jdbcType=BIGINT},</if>
            <if test="freightTemplateId != null">#{freightTemplateId,jdbcType=BIGINT},</if>
            <if test="categoryIds != null">#{categoryIds,jdbcType=VARCHAR},</if>
            <if test="name != null">#{name,jdbcType=VARCHAR},</if>
            <if test="subTitle != null">#{subTitle,jdbcType=VARCHAR},</if>
            <if test="description != null">#{description,jdbcType=VARCHAR},</if>
            <if test="keywords != null">#{keywords,jdbcType=VARCHAR},</if>
            <if test="note != null">#{note,jdbcType=VARCHAR},</if>
            <if test="pic != null">#{pic,jdbcType=VARCHAR},</if>
            <if test="albumPics != null">#{albumPics,jdbcType=VARCHAR},</if>
            <if test="unit != null">#{unit,jdbcType=VARCHAR},</if>
            <if test="weight != null">#{weight,jdbcType=DECIMAL},</if>
            <if test="publishStatus != null">#{publishStatus,jdbcType=TINYINT},</if>
            <if test="newStatus != null">#{newStatus,jdbcType=TINYINT},</if>
            <if test="recommendStatus != null">#{recommendStatus,jdbcType=TINYINT},</if>
            <if test="verifyStatus != null">#{verifyStatus,jdbcType=TINYINT},</if>
            <if test="sort != null">#{sort,jdbcType=INTEGER},</if>
            <if test="sale != null">#{sale,jdbcType=INTEGER},</if>
            <if test="minPrice != null">#{minPrice,jdbcType=DECIMAL},</if>
            <if test="maxPrice != null">#{maxPrice,jdbcType=DECIMAL},</if>
            <if test="stock != null">#{stock,jdbcType=INTEGER},</if>
            <if test="brandName != null">#{brandName,jdbcType=VARCHAR},</if>
            <if test="productCategoryName != null">#{productCategoryName,jdbcType=VARCHAR},</if>
            <if test="creator != null">#{creator,jdbcType=VARCHAR},</if>
            0, 0,
        </trim>
    </insert>

    <!-- 批量插入 -->
    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO pms_spu (
            spu_code, brand_id, product_category_id, freight_template_id, category_ids,
            name, sub_title, description, keywords, note, pic, album_pics, unit, weight,
            deleted, publish_status, new_status, recommend_status, verify_status, sort,
            sale, min_price, max_price, stock, brand_name, product_category_name,
            creator, version
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
                #{item.spuCode,jdbcType=VARCHAR}, #{item.brandId,jdbcType=BIGINT},
                #{item.productCategoryId,jdbcType=BIGINT}, #{item.freightTemplateId,jdbcType=BIGINT},
                #{item.categoryIds,jdbcType=VARCHAR}, #{item.name,jdbcType=VARCHAR},
                #{item.subTitle,jdbcType=VARCHAR}, #{item.description,jdbcType=VARCHAR},
                #{item.keywords,jdbcType=VARCHAR}, #{item.note,jdbcType=VARCHAR},
                #{item.pic,jdbcType=VARCHAR}, #{item.albumPics,jdbcType=VARCHAR},
                #{item.unit,jdbcType=VARCHAR}, #{item.weight,jdbcType=DECIMAL},
                0, #{item.publishStatus,jdbcType=TINYINT}, #{item.newStatus,jdbcType=TINYINT},
                #{item.recommendStatus,jdbcType=TINYINT}, #{item.verifyStatus,jdbcType=TINYINT},
                #{item.sort,jdbcType=INTEGER}, #{item.sale,jdbcType=INTEGER},
                #{item.minPrice,jdbcType=DECIMAL}, #{item.maxPrice,jdbcType=DECIMAL},
                #{item.stock,jdbcType=INTEGER}, #{item.brandName,jdbcType=VARCHAR},
                #{item.productCategoryName,jdbcType=VARCHAR}, #{item.creator,jdbcType=VARCHAR}, 0
            )
        </foreach>
    </insert>

    <!-- 根据主键更新 -->
    <update id="updateByPrimaryKey" parameterType="com.mallease.pms.pojo.PmsSpu">
        UPDATE pms_spu
        SET spu_code = #{spuCode,jdbcType=VARCHAR},
            brand_id = #{brandId,jdbcType=BIGINT},
            product_category_id = #{productCategoryId,jdbcType=BIGINT},
            freight_template_id = #{freightTemplateId,jdbcType=BIGINT},
            category_ids = #{categoryIds,jdbcType=VARCHAR},
            name = #{name,jdbcType=VARCHAR},
            sub_title = #{subTitle,jdbcType=VARCHAR},
            description = #{description,jdbcType=VARCHAR},
            keywords = #{keywords,jdbcType=VARCHAR},
            note = #{note,jdbcType=VARCHAR},
            pic = #{pic,jdbcType=VARCHAR},
            album_pics = #{albumPics,jdbcType=VARCHAR},
            unit = #{unit,jdbcType=VARCHAR},
            weight = #{weight,jdbcType=DECIMAL},
            publish_status = #{publishStatus,jdbcType=TINYINT},
            new_status = #{newStatus,jdbcType=TINYINT},
            recommend_status = #{recommendStatus,jdbcType=TINYINT},
            verify_status = #{verifyStatus,jdbcType=TINYINT},
            sort = #{sort,jdbcType=INTEGER},
            sale = #{sale,jdbcType=INTEGER},
            min_price = #{minPrice,jdbcType=DECIMAL},
            max_price = #{maxPrice,jdbcType=DECIMAL},
            stock = #{stock,jdbcType=INTEGER},
            brand_name = #{brandName,jdbcType=VARCHAR},
            product_category_name = #{productCategoryName,jdbcType=VARCHAR},
            updater = #{updater,jdbcType=VARCHAR},
            version = version + 1
        WHERE id = #{id,jdbcType=BIGINT} AND deleted = 0
    </update>

    <!-- 根据主键选择性更新 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.mallease.pms.pojo.PmsSpu">
        UPDATE pms_spu
        <set>
            <if test="spuCode != null">spu_code = #{spuCode,jdbcType=VARCHAR},</if>
            <if test="brandId != null">brand_id = #{brandId,jdbcType=BIGINT},</if>
            <if test="productCategoryId != null">product_category_id = #{productCategoryId,jdbcType=BIGINT},</if>
            <if test="freightTemplateId != null">freight_template_id = #{freightTemplateId,jdbcType=BIGINT},</if>
            <if test="categoryIds != null">category_ids = #{categoryIds,jdbcType=VARCHAR},</if>
            <if test="name != null">name = #{name,jdbcType=VARCHAR},</if>
            <if test="subTitle != null">sub_title = #{subTitle,jdbcType=VARCHAR},</if>
            <if test="description != null">description = #{description,jdbcType=VARCHAR},</if>
            <if test="keywords != null">keywords = #{keywords,jdbcType=VARCHAR},</if>
            <if test="note != null">note = #{note,jdbcType=VARCHAR},</if>
            <if test="pic != null">pic = #{pic,jdbcType=VARCHAR},</if>
            <if test="albumPics != null">album_pics = #{albumPics,jdbcType=VARCHAR},</if>
            <if test="unit != null">unit = #{unit,jdbcType=VARCHAR},</if>
            <if test="weight != null">weight = #{weight,jdbcType=DECIMAL},</if>
            <if test="publishStatus != null">publish_status = #{publishStatus,jdbcType=TINYINT},</if>
            <if test="newStatus != null">new_status = #{newStatus,jdbcType=TINYINT},</if>
            <if test="recommendStatus != null">recommend_status = #{recommendStatus,jdbcType=TINYINT},</if>
            <if test="verifyStatus != null">verify_status = #{verifyStatus,jdbcType=TINYINT},</if>
            <if test="sort != null">sort = #{sort,jdbcType=INTEGER},</if>
            <if test="sale != null">sale = #{sale,jdbcType=INTEGER},</if>
            <if test="minPrice != null">min_price = #{minPrice,jdbcType=DECIMAL},</if>
            <if test="maxPrice != null">max_price = #{maxPrice,jdbcType=DECIMAL},</if>
            <if test="stock != null">stock = #{stock,jdbcType=INTEGER},</if>
            <if test="brandName != null">brand_name = #{brandName,jdbcType=VARCHAR},</if>
            <if test="productCategoryName != null">product_category_name = #{productCategoryName,jdbcType=VARCHAR},</if>
            <if test="updater != null">updater = #{updater,jdbcType=VARCHAR},</if>
            version = version + 1,
        </set>
        WHERE id = #{id,jdbcType=BIGINT} AND deleted = 0
    </update>

    <!-- 批量更新上架状态 -->
    <update id="updatePublishStatusBatch">
        UPDATE pms_spu
        SET publish_status = #{publishStatus,jdbcType=TINYINT}, version = version + 1
        WHERE deleted = 0 AND id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id,jdbcType=BIGINT}
        </foreach>
    </update>

    <!-- 批量更新新品状态 -->
    <update id="updateNewStatusBatch">
        UPDATE pms_spu
        SET new_status = #{newStatus,jdbcType=TINYINT}, version = version + 1
        WHERE deleted = 0 AND id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id,jdbcType=BIGINT}
        </foreach>
    </update>

    <!-- 批量更新推荐状态 -->
    <update id="updateRecommendStatusBatch">
        UPDATE pms_spu
        SET recommend_status = #{recommendStatus,jdbcType=TINYINT}, version = version + 1
        WHERE deleted = 0 AND id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id,jdbcType=BIGINT}
        </foreach>
    </update>

    <!-- 批量更新审核状态 -->
    <update id="updateVerifyStatusBatch">
        UPDATE pms_spu
        SET verify_status = #{verifyStatus,jdbcType=TINYINT}, version = version + 1
        WHERE deleted = 0 AND id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id,jdbcType=BIGINT}
        </foreach>
    </update>

    <!-- 批量逻辑删除 -->
    <update id="deleteBatch">
        UPDATE pms_spu
        SET deleted = 1, version = version + 1
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id,jdbcType=BIGINT}
        </foreach>
    </update>

    <!-- 更新SPU统计信息 -->
    <update id="updateStats">
        UPDATE pms_spu
        SET min_price = #{minPrice,jdbcType=DECIMAL},
            max_price = #{maxPrice,jdbcType=DECIMAL},
            stock = #{stock,jdbcType=INTEGER},
            sale = #{sale,jdbcType=INTEGER},
            version = version + 1
        WHERE id = #{id,jdbcType=BIGINT} AND deleted = 0
    </update>

</mapper>
