<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mallease.pms.dao.PmsSpuPublishRecordDao">

    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO pms_spu_publish_record (spu_id, spu_name, operator_id, operator_name, action, from_status, to_status, reason)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.spuId}, #{item.spuName}, #{item.operatorId}, #{item.operatorName}, #{item.action}, #{item.fromStatus}, #{item.toStatus}, #{item.reason})
        </foreach>
    </insert>

</mapper>
