<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mallease.pms.dao.PmsSkuDao">

    <resultMap id="BaseResultMap" type="com.mallease.pms.pojo.PmsSku">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="spu_id" property="spuId" jdbcType="BIGINT"/>
        <result column="sku_code" property="skuCode" jdbcType="VARCHAR"/>
        <result column="spec_values" property="specValues" jdbcType="VARCHAR"/>
        <result column="pic" property="pic" jdbcType="VARCHAR"/>
        <result column="price" property="price" jdbcType="DECIMAL"/>
        <result column="original_price" property="originalPrice" jdbcType="DECIMAL"/>
        <result column="deleted" property="deleted" jdbcType="TINYINT"/>
        <result column="enable_status" property="enableStatus" jdbcType="TINYINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
        <result column="updater" property="updater" jdbcType="VARCHAR"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, spu_id, sku_code, spec_values, pic, price, original_price,
        deleted, enable_status, create_time, update_time, creator, updater, version
    </sql>

    <!-- 根据主键查询 -->
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM pms_sku
        WHERE id = #{id,jdbcType=BIGINT} AND deleted = 0
    </select>

    <!-- 根据ID列表批量查询 -->
    <select id="selectByIds" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM pms_sku
        WHERE deleted = 0 AND id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id,jdbcType=BIGINT}
        </foreach>
    </select>

    <!-- 根据SKU编码查询 -->
    <select id="selectBySkuCode" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM pms_sku
        WHERE sku_code = #{skuCode,jdbcType=VARCHAR} AND deleted = 0
    </select>

    <!-- 根据SPU ID查询 -->
    <select id="selectBySpuId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM pms_sku
        WHERE spu_id = #{spuId,jdbcType=BIGINT} AND deleted = 0
        ORDER BY id
    </select>

    <!-- 根据SPU ID列表批量查询 -->
    <select id="selectBySpuIds" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM pms_sku
        WHERE deleted = 0 AND spu_id IN
        <foreach collection="spuIds" item="spuId" open="(" separator="," close=")">
            #{spuId,jdbcType=BIGINT}
        </foreach>
        ORDER BY spu_id, id
    </select>

    <!-- 多条件查询 -->
    <select id="selectByConditions" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM pms_sku
        <where>
            AND deleted = 0
            <if test="spuId != null">
                AND spu_id = #{spuId,jdbcType=BIGINT}
            </if>
            <if test="enableStatus != null">
                AND enable_status = #{enableStatus,jdbcType=TINYINT}
            </if>
        </where>
        ORDER BY id
    </select>

    <!-- 查询所有 -->
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM pms_sku
        WHERE deleted = 0
        ORDER BY spu_id, id
    </select>

    <!-- 插入 -->
    <insert id="insert" parameterType="com.mallease.pms.pojo.PmsSku" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO pms_sku (
            spu_id, sku_code, spec_values, pic, price, original_price,
            deleted, enable_status, creator, updater, version
        ) VALUES (
            #{spuId,jdbcType=BIGINT}, #{skuCode,jdbcType=VARCHAR}, #{specValues,jdbcType=VARCHAR},
            #{pic,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, #{originalPrice,jdbcType=DECIMAL},
            0, #{enableStatus,jdbcType=TINYINT}, #{creator,jdbcType=VARCHAR}, #{updater,jdbcType=VARCHAR}, 0
        )
    </insert>

    <!-- 选择性插入 -->
    <insert id="insertSelective" parameterType="com.mallease.pms.pojo.PmsSku" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO pms_sku
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="spuId != null">spu_id,</if>
            <if test="skuCode != null">sku_code,</if>
            <if test="specValues != null">spec_values,</if>
            <if test="pic != null">pic,</if>
            <if test="price != null">price,</if>
            <if test="originalPrice != null">original_price,</if>
            <if test="enableStatus != null">enable_status,</if>
            <if test="creator != null">creator,</if>
            deleted, version,
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="spuId != null">#{spuId,jdbcType=BIGINT},</if>
            <if test="skuCode != null">#{skuCode,jdbcType=VARCHAR},</if>
            <if test="specValues != null">#{specValues,jdbcType=VARCHAR},</if>
            <if test="pic != null">#{pic,jdbcType=VARCHAR},</if>
            <if test="price != null">#{price,jdbcType=DECIMAL},</if>
            <if test="originalPrice != null">#{originalPrice,jdbcType=DECIMAL},</if>
            <if test="enableStatus != null">#{enableStatus,jdbcType=TINYINT},</if>
            <if test="creator != null">#{creator,jdbcType=VARCHAR},</if>
            0, 0,
        </trim>
    </insert>

    <!-- 批量插入 -->
    <insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO pms_sku (
            spu_id, sku_code, spec_values, pic, price, original_price,
            deleted, enable_status, creator, version
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
                #{item.spuId,jdbcType=BIGINT}, #{item.skuCode,jdbcType=VARCHAR},
                #{item.specValues,jdbcType=VARCHAR}, #{item.pic,jdbcType=VARCHAR},
                #{item.price,jdbcType=DECIMAL}, #{item.originalPrice,jdbcType=DECIMAL},
                0, #{item.enableStatus,jdbcType=TINYINT}, #{item.creator,jdbcType=VARCHAR}, 0
            )
        </foreach>
    </insert>

    <!-- 根据主键更新 -->
    <update id="updateByPrimaryKey" parameterType="com.mallease.pms.pojo.PmsSku">
        UPDATE pms_sku
        SET spu_id = #{spuId,jdbcType=BIGINT},
            sku_code = #{skuCode,jdbcType=VARCHAR},
            spec_values = #{specValues,jdbcType=VARCHAR},
            pic = #{pic,jdbcType=VARCHAR},
            price = #{price,jdbcType=DECIMAL},
            original_price = #{originalPrice,jdbcType=DECIMAL},
            enable_status = #{enableStatus,jdbcType=TINYINT},
            updater = #{updater,jdbcType=VARCHAR},
            version = version + 1
        WHERE id = #{id,jdbcType=BIGINT} AND deleted = 0
    </update>

    <!-- 根据主键选择性更新 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.mallease.pms.pojo.PmsSku">
        UPDATE pms_sku
        <set>
            <if test="spuId != null">spu_id = #{spuId,jdbcType=BIGINT},</if>
            <if test="skuCode != null">sku_code = #{skuCode,jdbcType=VARCHAR},</if>
            <if test="specValues != null">spec_values = #{specValues,jdbcType=VARCHAR},</if>
            <if test="pic != null">pic = #{pic,jdbcType=VARCHAR},</if>
            <if test="price != null">price = #{price,jdbcType=DECIMAL},</if>
            <if test="originalPrice != null">original_price = #{originalPrice,jdbcType=DECIMAL},</if>
            <if test="enableStatus != null">enable_status = #{enableStatus,jdbcType=TINYINT},</if>
            <if test="updater != null">updater = #{updater,jdbcType=VARCHAR},</if>
            version = version + 1,
        </set>
        WHERE id = #{id,jdbcType=BIGINT} AND deleted = 0
    </update>

    <!-- 批量更新启用状态 -->
    <update id="updateEnableStatusBatch">
        UPDATE pms_sku
        SET enable_status = #{enableStatus,jdbcType=TINYINT}, version = version + 1
        WHERE deleted = 0 AND id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id,jdbcType=BIGINT}
        </foreach>
    </update>

    <!-- 批量逻辑删除 -->
    <update id="deleteBatch">
        UPDATE pms_sku
        SET deleted = 1, version = version + 1
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id,jdbcType=BIGINT}
        </foreach>
    </update>

    <!-- 根据SPU ID逻辑删除 -->
    <update id="deleteBySpuId">
        UPDATE pms_sku
        SET deleted = 1, version = version + 1
        WHERE spu_id = #{spuId,jdbcType=BIGINT}
    </update>

</mapper>
