<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mallease.content.dao.ContentSubjectDao">
    <resultMap id="BaseResultMap" type="com.mallease.content.pojo.ContentSubject">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="category_id" property="categoryId" jdbcType="BIGINT"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="pic" property="pic" jdbcType="VARCHAR"/>
        <result column="spu_count" property="spuCount" jdbcType="INTEGER"/>
        <result column="recommend_status" property="recommendStatus" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="collect_count" property="collectCount" jdbcType="INTEGER"/>
        <result column="read_count" property="readCount" jdbcType="INTEGER"/>
        <result column="comment_count" property="commentCount" jdbcType="INTEGER"/>
        <result column="album_pics" property="albumPics" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="show_status" property="showStatus" jdbcType="INTEGER"/>
        <result column="content" property="content" jdbcType="LONGVARCHAR"/>
        <result column="forward_count" property="forwardCount" jdbcType="INTEGER"/>
        <result column="category_name" property="categoryName" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, category_id, title, pic, spu_count, recommend_status, create_time,
        collect_count, read_count, comment_count, album_pics, description, show_status,
        content, forward_count, category_name
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from content_subject
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from content_subject
    </select>

    <select id="selectByKeyword" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from content_subject
        <where>
            <if test="keyword != null and keyword != ''">
                AND title LIKE CONCAT('%', #{keyword,jdbcType=VARCHAR}, '%')
            </if>
        </where>
    </select>

    <select id="selectByCategoryId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from content_subject
        where category_id = #{categoryId,jdbcType=BIGINT}
    </select>

    <select id="selectByRecommendStatus" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from content_subject
        where recommend_status = #{recommendStatus,jdbcType=INTEGER}
    </select>

    <select id="selectByShowStatus" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from content_subject
        where show_status = #{showStatus,jdbcType=INTEGER}
    </select>

    <update id="updateRecommendStatusBatch">
        update content_subject
        set recommend_status = #{recommendStatus,jdbcType=INTEGER}
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id,jdbcType=BIGINT}
        </foreach>
    </update>

    <update id="updateShowStatusBatch">
        update content_subject
        set show_status = #{showStatus,jdbcType=INTEGER}
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id,jdbcType=BIGINT}
        </foreach>
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from content_subject
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.mallease.content.pojo.ContentSubject">
        insert into content_subject (id, category_id, title,
                                 pic, spu_count, recommend_status,
                                 create_time, collect_count, read_count,
                                 comment_count, album_pics, description,
                                 show_status, content, forward_count,
                                 category_name)
        values (#{id,jdbcType=BIGINT}, #{categoryId,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR},
                #{pic,jdbcType=VARCHAR}, #{spuCount,jdbcType=INTEGER}, #{recommendStatus,jdbcType=INTEGER},
                #{createTime,jdbcType=TIMESTAMP}, #{collectCount,jdbcType=INTEGER}, #{readCount,jdbcType=INTEGER},
                #{commentCount,jdbcType=INTEGER}, #{albumPics,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR},
                #{showStatus,jdbcType=INTEGER}, #{content,jdbcType=LONGVARCHAR}, #{forwardCount,jdbcType=INTEGER},
                #{categoryName,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.mallease.content.pojo.ContentSubject">
        insert into content_subject
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="categoryId != null">
                category_id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="pic != null">
                pic,
            </if>
            <if test="spuCount != null">
                spu_count,
            </if>
            <if test="recommendStatus != null">
                recommend_status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="collectCount != null">
                collect_count,
            </if>
            <if test="readCount != null">
                read_count,
            </if>
            <if test="commentCount != null">
                comment_count,
            </if>
            <if test="albumPics != null">
                album_pics,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="showStatus != null">
                show_status,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="forwardCount != null">
                forward_count,
            </if>
            <if test="categoryName != null">
                category_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="categoryId != null">
                #{categoryId,jdbcType=BIGINT},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="pic != null">
                #{pic,jdbcType=VARCHAR},
            </if>
            <if test="spuCount != null">
                #{spuCount,jdbcType=INTEGER},
            </if>
            <if test="recommendStatus != null">
                #{recommendStatus,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="collectCount != null">
                #{collectCount,jdbcType=INTEGER},
            </if>
            <if test="readCount != null">
                #{readCount,jdbcType=INTEGER},
            </if>
            <if test="commentCount != null">
                #{commentCount,jdbcType=INTEGER},
            </if>
            <if test="albumPics != null">
                #{albumPics,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="showStatus != null">
                #{showStatus,jdbcType=INTEGER},
            </if>
            <if test="content != null">
                #{content,jdbcType=LONGVARCHAR},
            </if>
            <if test="forwardCount != null">
                #{forwardCount,jdbcType=INTEGER},
            </if>
            <if test="categoryName != null">
                #{categoryName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.mallease.content.pojo.ContentSubject">
        update content_subject
        <set>
            <if test="categoryId != null">
                category_id = #{categoryId,jdbcType=BIGINT},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="pic != null">
                pic = #{pic,jdbcType=VARCHAR},
            </if>
            <if test="spuCount != null">
                spu_count = #{spuCount,jdbcType=INTEGER},
            </if>
            <if test="recommendStatus != null">
                recommend_status = #{recommendStatus,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="collectCount != null">
                collect_count = #{collectCount,jdbcType=INTEGER},
            </if>
            <if test="readCount != null">
                read_count = #{readCount,jdbcType=INTEGER},
            </if>
            <if test="commentCount != null">
                comment_count = #{commentCount,jdbcType=INTEGER},
            </if>
            <if test="albumPics != null">
                album_pics = #{albumPics,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="showStatus != null">
                show_status = #{showStatus,jdbcType=INTEGER},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=LONGVARCHAR},
            </if>
            <if test="forwardCount != null">
                forward_count = #{forwardCount,jdbcType=INTEGER},
            </if>
            <if test="categoryName != null">
                category_name = #{categoryName,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.mallease.content.pojo.ContentSubject">
        update content_subject
        set category_id = #{categoryId,jdbcType=BIGINT},
            title = #{title,jdbcType=VARCHAR},
            pic = #{pic,jdbcType=VARCHAR},
            spu_count = #{spuCount,jdbcType=INTEGER},
            recommend_status = #{recommendStatus,jdbcType=INTEGER},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            collect_count = #{collectCount,jdbcType=INTEGER},
            read_count = #{readCount,jdbcType=INTEGER},
            comment_count = #{commentCount,jdbcType=INTEGER},
            album_pics = #{albumPics,jdbcType=VARCHAR},
            description = #{description,jdbcType=VARCHAR},
            show_status = #{showStatus,jdbcType=INTEGER},
            content = #{content,jdbcType=LONGVARCHAR},
            forward_count = #{forwardCount,jdbcType=INTEGER},
            category_name = #{categoryName,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>
